<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EdiServerImplPortBinding" messageEncoding="Mtom">
                    <security mode="Transport" />
                </binding>
                <binding name="EdiServerImplPortBinding1" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ru-soap.edi.su/soap" binding="basicHttpBinding"
                bindingConfiguration="EdiServerImplPortBinding" contract="ExiteSoapService.EdiServer"
                name="EdiServerImplPort" />
        </client>
    </system.serviceModel>
</configuration>
