<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ExiteWsSoap11">
                    <security mode="Transport" />
                </binding>
                <binding name="ExiteWsSoap111" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://soap-api.e-vo.ru:443/soap" binding="basicHttpBinding"
                bindingConfiguration="ExiteWsSoap11" contract="ServiceReference.ExiteWs"
                name="ExiteWsSoap11" />
        </client>
    </system.serviceModel>
</configuration>
